/* 通用部分 */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;

}
body {
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
}
/* 清除浮动 */
.clearfix:before,
 .clearfix:after {
     display: table;
     content: "";
            
 }
 .clearfix:after {
     clear: both;

 }

 .clearfix {
     *zoom: 1;
 }

/* head部分*/
/* flex布局 */

.head {
    width: 80%;
    /* height: 500px; */
    /* head由内容撑开 */
    margin: 10px auto;
    /* background-color: pink; */
    display: flex;
    border-bottom:2px dashed #ccc ;
  

}


.head .title,
.head .picture
{
    flex: 1;
    
}
      
  
.head .content {
    flex: 3;
}
/* 图标部分 */
.head .title div {
   
    height: 60px;
    border: 2px solid #2ac2d3;

    width: 100%;
    float: left;
    color: #fff;
    background-color:  #2ac2d3;
    cursor: pointer;
   
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transition: all .5;
   

}

.head .title div:hover {
    background-color: #fff;
    color: #4fc6e4;
}



/* 图片部分 */

.head .picture img {
    float: right;
    cursor: pointer;
    position: absolute;
    width: 148px;
    height: 193px;
    transition: all .5s;

}
.head .picture img:first-child {
    z-index: 1;
    backface-visibility: hidden;
}

.head .picture {
    width: 148px;
    height: 193px;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    



}
.picture:hover img {
    transform: rotateY(180deg);
    
}







/* 内容部分 */
.head .content ul {
    padding-left: 20px;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.head ul li {
    flex: 1;
    height: 40px;
    /* border: 1px solid red; */
    margin-bottom: 10px;
    position: relative;
   
    
}

.head li:nth-child(2):hover img  {
    display: block;
    transform: scale(1,1);

}

.head li img {
       position: absolute;
       display: none ;
       transform: scale(.5,.5);
       right: -500px;
       top: -300px;
       transition: all 0.5 linear;
       z-index: 2;

}

.head li .reason {
    display: none;
    /* 没有display: hidden，
    只有visibilty: hidden; */
    position: absolute;
    
    top: 30px;

}
.head li:last-child:hover .reason {
    display: block;
}

.head li .reward {
    position: absolute;
         display: none;
}

.head li:nth-child(4):hover .reward{
    display: block;
    right: 130px;
    top: 0px;
    
}





/* part 部分 */
/* float布局 */


.part {
    width: 80%;

    margin: 50px auto;

    display: flex;
    border-bottom:2px dashed #ccc ;

  
}
/* 标题 */

.part-title {
     height: 40px;
     width: 100px;
     background-color: pink;

     color: #fff;
     font-size: 20px;
     font-weight: 500;
     line-height: 40px;
     text-align: center;
     border-radius: 10px;
     float: left;
}

.part-content {
 /* background-color: pink; */
   padding-left: 76px;
}
.part-content li {
    height: 40px;
    /* border: 1px solid red; */
    margin-bottom: 10px;

}





